<div class="container">
    <div class="card mt-5">
        <div class="card-header">
            <h4 class="card-title"></h4>
        </div>
        <div class="card-body">
            <p>
                <h3 class="text-lg-center">แอดมินอยู่ระหว่างการประมวลผลและวิเคราะห์ข้อมูลในขณะนี้ จึงไม่สามารถบันทึกข้อมูลได้</h3>
            </p>
            <p><br></p>
            <p>
                <strong><u>หมายเหตุ</u></strong>&nbsp;&nbsp;<span class="text-danger">เริ่มเปิดระบบบันทึกข้อมูลวันที่ 1 ถึงวันที่ @ViewData["Check"] ของทุกเดือน</span><br>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span class="text-success">วันที่แก้ไขข้อมูล ระหว่างวันที่ 6-12 ของทุกเดือน</span>
            </p>
        </div>
        <div class="card-footer">
            <a onclick="window.history.back()" href="#"><< ย้อนกลับ</a>
        </div>
    </div>
</div>
